### Wafaa N. Abu Dahrouj _Wrangle and Analyze Data 
Gathering Data

import  packages.

In [2]:
import pandas as pd
import numpy as np
import requests as req
import tweepy
import json
import matplotlib

 df_enhanced dataset

In [3]:
df_enhanced = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
df_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
df_enhanced.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None


II. df_breed Dataset

In [6]:
r = req.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

I checked the content type and separator.

In [7]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

I saved a path into a variable and read in the file.

In [8]:
path = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

In [9]:
df_breed = pd.read_csv(path, sep = '\t')

In [10]:
df_breed.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### Part Three_df_tweets Dataset

In [11]:
consumer_key = "VLg1rGZGEbtl3aSy4HOu4zzzz"
consumer_secret = "aA9xYwnBtMtRsJ3j8C1iurBwuFjfOB4MPEnOTj6itE4lwLzzzz"
access_token = '1304827952-wq5oVJHWCv07j8fSFRX2GCH0ntaT3Dxpr4pzzzz'
access_secret = 'bBGqQo5a8aAfRboQR4X6GELydF3UtiaCM1vACE5NUzzzz'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

Create a list of tweet ids to iterate through it.

In [12]:
id_list = df_enhanced['tweet_id']

In [13]:
id_list

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
5       891087950875897856
6       890971913173991426
7       890729181411237888
8       890609185150312448
9       890240255349198849
10      890006608113172480
11      889880896479866881
12      889665388333682689
13      889638837579907072
14      889531135344209921
15      889278841981685760
16      888917238123831296
17      888804989199671297
18      888554962724278272
19      888202515573088257
20      888078434458587136
21      887705289381826560
22      887517139158093824
23      887473957103951883
24      887343217045368832
25      887101392804085760
26      886983233522544640
27      886736880519319552
28      886680336477933568
29      886366144734445568
               ...
2326    666411507551481857
2327    666407126856765440
2328    666396247373291520
2329    666373753744588802
2330    666362758909284353
2331    666353288456101888
2332    666345417576210432
2333    666337882303524864
2334    666293911632134144
2335    666287406224695296
2336    666273097616637952
2337    666268910803644416
2338    666104133288665088
2339    666102155909144576
2340    666099513787052032
2341    666094000022159362
2342    666082916733198337
2343    666073100786774016
2344    666071193221509120
2345    666063827256086533
2346    666058600524156928
2347    666057090499244032
2348    666055525042405380
2349    666051853826850816
2350    666050758794694657
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: int64

Source: https://stackoverflow.com/questions/34379168/how-to-save-the-tweets-in-json-to-txt-file-in-python-3-4

In [ ]:
# creating a list for the exceptions
exceptions_list = []

# opening the file to write
with open('tweet_json.txt', 'w', encoding = 'utf-8') as f:
    for id_tweet in id_list: 
        try:
            tweet = api.get_status(id_tweet, tweet_mode= 'extended')
            json.dump(tweet._json, f)
# writing the content witt new paragraphs
            f.write("\n")
        except Exception as e:
            exceptions_list.append(id_tweet)
# printing out the exception messages
            print(str(e))

[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]
[{'code': 144, 'message': 'No status found with that ID.'}]

In [ ]:
# Reading the json file

df_full_json = pd.read_json('tweet_json.txt', orient='records', lines = True)

In [ ]:
# Checking the columns to find out which values we would like to extract.

df_full_json.columns

In [ ]:
# As I should exclude retweets, I also want to know a tweet's retweet status.

df_tweets = df_full_json[['id','favorite_count', 'retweet_count', 'retweeted']]

In [ ]:
df_tweets.head()

In [ ]:
df_tweets.tail()

## Assesing Data

### I. df_tweets dataset

Print out the df_tweets dataset.

In [ ]:
df_tweets

I checked the possible retweets in the dataset by counting the retweeted values. There are no any retweeted values.

In [ ]:
len(df_tweets.query('retweeted == True'))

I checked if there ary any duplicated value by id.

In [ ]:
df_tweets[df_tweets['id'].duplicated(keep=False)]

In [ ]:
df_tweets.info()

After asessing, I can assume, that there are not any particular problem with this dataframe.

### II. df_enhanced dataset

I printed out the archive dataset.

In [ ]:
df_enhanced

I counted and grouped the dognames to discover the invalid dog names in the dataset. According to my observations, all the incorrect dog names start with a lower case letter and are detected as name based on the text column.

In [ ]:
df_enhanced.groupby('name')['name'].size()

In [ ]:
df_enhanced['name'].describe()

Cheking the null values and datatypes.

In [ ]:
df_enhanced.info()

I ckecked if there are any values duplicated by their id.

In [ ]:
df_enhanced[df_enhanced['tweet_id'].duplicated(keep=False)]

### III. df_breed

In [ ]:
df_breed.head()

I checked the datatypes.

In [ ]:
df_breed.info()

Listing the null values (if there are any).

In [ ]:
nulls = df_breed.columns[df_breed.isnull().any()]
df_breed[nulls].isnull().sum()

## Summary

#### Tidiness:
   
- there are 3 dataset instead of 1 master dataset
    
df_enhanced dataset:
    
- unecessary source column with hardly readable information
- unecessary category columns:  doggo, floofer, pupper, puppo 
    
df_breed dataset:

- no need of infos of some columns: 
- too many stages column instead of one
- stages column could be categorical datatype
    
#### Quality:
    
df_enhanced dataset:
    
- the dog_stage is string datatype
- unecessary rating denominator column, rating numerator column header without scale
- incorrect names, missing names in name column: such?, quite, a, an, the... - all are written with lower case letters
- retweeted records: retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp
- missing data in name and stages columns showing as 'None'
- incorrect datatypes: timestamp is string
- in_reply_to_status_id, in_reply_to_user_id should be changed from sciantific float to string
- wrong rating numeratores were extracted from the text column
    
df_breed dataset:
    
- dog breeds start with lower case letters
- non-dog records in the dataset (eg.: shopping cart, box turtle...)
- the p1, p2, p2 columns shoulf be categorical datatypes

## Cleaning Process

### I. df_enhanced Data

#### Define: 
Retweeted records in the dataset: retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp

#### Code: 
I wanted to analyze the orignal ratings, so I deleted the retweeted tweets. I queried the records where the retweeted status was not null and dropped the values. I also dropped the unecessary retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp columns.

I conted the number of retweeted tweets from df_enhanced dataframe.

In [ ]:
len(df_enhanced.query('retweeted_status_id != "NaN"'))

I created a new dataframe without the retweeted tweets.

In [ ]:
df_enhanced = df_enhanced.query('retweeted_status_id == "NaN"')

#### Test:

Doublechecking the results.

In [ ]:
len(df_enhanced.query('retweeted_status_id != "NaN"'))

After testing, I dropped the unecessary empty columns.

In [ ]:
df_enhanced = df_enhanced.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1)

#### Define: 
Unecessary rating denominator column, rating numerator column header without scale

#### Code:

I dropped the rating denominator column and add a scale to the numerator column in the title.

I deleted the unecessary rating denominator column and renamed the rating numerator include and mark the rating denominator as well.

In [ ]:
df_enhanced = df_enhanced.drop('rating_denominator', axis=1)

In [ ]:
df_enhanced = df_enhanced.rename(index=str, columns={"rating_numerator": "rating_10_scale"})

#### Test:

In [ ]:
df_enhanced.head(3)

#### Define:
There are incorrect numerators in the rating_numerator column (decimals are shown as integers)

#### Code: 
I changed the datatype of the column and I extracted the right numerators of the text column with regex. 
I iterated through the df_enhanced database and changed the wrong values with the extracted data on each corresponding row.

Cleaning the rating_numerator columns, extract the right values from the text column.

In [ ]:
# setting the rating_10_scale column to float

df_enhanced['rating_10_scale'] = df_enhanced['rating_10_scale'].astype('float')

In [ ]:
df_enhanced.info()

In [ ]:
# save values into dataframe where text contains decimals
df_bad_numerator = df_enhanced[df_enhanced.text.str.contains(r"(\d+\.\d*\/\d+)")]

# creating a list to append the extracted values
numerator = []

for item in  df_bad_numerator['text']:
    splitted = item.split('/')
    numerator.append(splitted[0].split()[-1])
print(numerator)

In [ ]:
# save the corresponding tweet_ids into a list
tweet_id_list = df_bad_numerator['tweet_id'].tolist()

for i in range(len(tweet_id_list)):
    # change the numerator in the oroginal dataframe
    df_enhanced.loc[(df_enhanced['tweet_id'] == tweet_id_list[i]), ['rating_10_scale']] = numerator[i]
    # test: print out the changed values in the original daraframe
    print(df_enhanced.loc[(df_enhanced['tweet_id'] == tweet_id_list[i]), ['rating_10_scale']])

In [ ]:
df_enhanced.info()

#### Define:
More issues regarding the name column: missing values, missing values marked as None, incorrect values

#### Code:

I decided to extract the dog names from the text columns to replace the missing values and correct the incorrect dog names. The valied dog names start with upper-case letters.

I collect some of the cases and expressions when the dog names occur in the text column in the following context:
    - ... named [Dog Name]
    - meet [Dog Name]
    - .. name is [Dog Name]
    - This is [Dog Name]
    - Say hello to [Dog Name]
    - Meet [Dog Name]
    - Here we have [Dog Name]
    - Here is [Dog Name]
    
Then I will iterate through the text column and change the value in the name column based on the text column.

In [ ]:
import re

# Creating two lists: one for the names we can' extract and one for the new names
names_clean = []
missing_names = []

# Creating a lit of the texts
text_list = df_enhanced['text'].values.tolist()

# Creating a regex pattern
pattern = re.compile('([A-Z].*)')

# Iterating thourgh the text list and check if the content and pattern correspond to some of the extressions
for text in df_enhanced['text']:
    
    if text.__contains__('This is') and pattern.fullmatch(text.split()[text.split().index("is")+1]):
        names_clean.append(text.split(" ")[2].strip('.').strip(','))
    elif text.startswith("Meet") and pattern.fullmatch(text.split(" ")[1]):
        names_clean.append(text.split(" ")[1].strip('.').strip(','))
    elif text.startswith("Here we have") and pattern.fullmatch(text.split(" ", 3)[3]):
        names_clean.append(text.split(" ")[3].strip('.').strip(','))
    elif text.split(" ").__contains__("named") and pattern.fullmatch(text.split()[text.split().index("named")+1]):
        names_clean.append(text.split()[text.split().index("named")+1].strip('.').strip(','))
    elif text.__contains__("name is") and pattern.fullmatch(text.split()[text.split().index("is")+1]):
        names_clean.append(text.split()[text.split().index("is")+1].strip('.').strip(','))
    elif text.__contains__("Say hello to") and pattern.fullmatch(text.split()[text.split().index("to")+1]):
        names_clean.append(text.split(" ")[3].strip('.').strip(','))
    else:
        names_clean.append("NaN")
        missing_names.append(text)

#### Test:

In [ ]:
len(names_clean)

Checking the number of the missing names.

In [ ]:
len(missing_names)

I looked at the content to see if there are any dog names to extract.

In [ ]:
missing_names

After testing, I saved the new names into the dataframe

In [ ]:
df_enhanced['dog_name'] = names_clean

In [ ]:
len(df_enhanced['dog_name'])

I compared the original names column with the new, cleaned one.

In [ ]:
df_enhanced[['name']].groupby(['name'])['name'].size()

Looking at the new names.

In [ ]:
df_enhanced[['dog_name']].groupby(['dog_name'])['dog_name'].size()

As we can see at the bottom of the list, there are still some incorrect values with lower case letter. I replace them with NaN.

In [ ]:
df_enhanced['dog_name'] = df_enhanced['dog_name'].replace(to_replace = r'^([a-z])', value = np.nan, regex = True)

Final result.

In [ ]:
df_enhanced[['dog_name']].groupby(['dog_name'])['dog_name'].size()

Looking at the missing values.

In [ ]:
df_enhanced[df_enhanced['dog_name'] == "NaN"]

I dropped the name column.

In [ ]:
df_enhanced = df_enhanced.drop('name', axis = 1)

Moving the dog_name column forward, to the place of the old name column, using pop and ix.

Source: https://stackoverflow.com/questions/25122099/move-column-by-name-to-front-of-table-in-pandas

In [ ]:
cols = list(df_enhanced)

cols.insert(8, cols.pop(cols.index('dog_name')))

In [ ]:
cols

In [ ]:
df_enhanced = df_enhanced.ix[:, cols]

In [ ]:
df_enhanced.info()

#### Define:
Incorrect datatypes (timestamp, retweetd_status_id, retweeted_status_user_id, retweeted_status_timestamp)


#### Code:
Changing the incorrect data types:
- timestamp
- retweeted_status_id 
- retweeted_status_user_id 
- retweeted_status_timestamp

In [ ]:
df_enhanced.info()

In [ ]:
df_enhanced.timestamp = pd.to_datetime(df_enhanced.timestamp)

In [ ]:
df_enhanced.info()

According to the following post values with float datatype can not be converted to integer if there are any missing values and NaN data. I did not want to replace the missing values with 0 by using the fillna() function. So, I decided to convert the ids to object and scientific format to simple format. There is not any problem with that as we treat these id values as strings and do not expect to do any numerical operations with them anyway.

https://stackoverflow.com/questions/41550746/error-using-astype-when-nan-exists-in-a-dataframe

I used lambda and map function to convert floats in scientific format to simple string format in case of in_reply_to_status_id and in_reply_to_user_id.

https://stackoverflow.com/questions/41157981/pandas-convert-float-in-scientific-notation-to-string/41158287

In [ ]:
df_enhanced['in_reply_to_status_id'] = df_enhanced.in_reply_to_status_id.map(lambda x: '{:.0f}'.format(x))
df_enhanced['in_reply_to_user_id'] = df_enhanced.in_reply_to_user_id.map(lambda x: '{:.0f}'.format(x))

#### Test:

I printed out the not null values.

In [ ]:
df_enhanced[df_enhanced['in_reply_to_status_id'] != 'nan']

#### Define: 

Unecessary category columns:  doggo, floofer, pupper, puppo

#### Code:

I merged the dog stage columns into one column.

In [ ]:
columns_melt = df_enhanced.loc[ :, 'doggo' : 'puppo']
columns_remain = df_enhanced.loc[:, 'tweet_id': 'dog_name']

df_enhanced = pd.melt(df_enhanced, id_vars = columns_remain, value_vars = columns_melt, 
                         var_name = 'stages', value_name = 'dog_stage')

In [ ]:
df_enhanced = df_enhanced.drop('stages', axis = 1)

As we can see, there is a lot of duplicated data.

In [ ]:
df_enhanced.duplicated(subset = "tweet_id").sum()

I sorted and deleted the duplicate data. I had to keep the last records because the first had None values.

In [ ]:
df_enhanced = df_enhanced.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')

#### Test:

Double check the results: print out the lenght and count the duplicate data by id.

In [ ]:
len(df_enhanced)

In [ ]:
df_enhanced.duplicated(subset = "tweet_id").sum()

#### Define:
Source column is not readable

#### Code:

I created a new user_source column based on the source column values.
I dropped the unecessary long source column a create a new column based on the source values.

In [ ]:
print(df_enhanced['source'])

I extracted the source of the source column.

In [ ]:
source = df_enhanced['source']

user_source = []

for item in df_enhanced['source']:
    if item.__contains__("Twitter for iPhone"):
        user_source.append("Twitter for iPhone")
    elif item.__contains__("Twitter Web Client"):
        user_source.append("Twitter Web Client")
    elif item.__contains__('Vine - Make a Scene'):
        user_source.append("Vine")
    elif item.__contains__('TweetDeck'):
        user_source.append("TweetDeck")

Doublecheck if we could capture all the values. The output should be True.

In [ ]:
len(user_source) == len(df_enhanced['source'])

Append the list to the df_enhanced dataset.

In [ ]:
df_enhanced['user_source'] = user_source

#### Test:

In [ ]:
df_enhanced['user_source'].head(15)

Drop the unecessary source column.

In [ ]:
df_enhanced = df_enhanced.drop(['source'], axis = 1)

Change the datatype from string to categorical - user_source column.

In [ ]:
df_enhanced['user_source'] = df_enhanced.user_source.astype('category')

In [ ]:
df_enhanced.head(3)

#### Define:

There are 3 dataset instead of 1 master dataset

#### Code:

I merged the df_enhanced and df_tweets dataframe together by id values, using left join.

In [ ]:
df_clean = pd.merge(left=df_enhanced,right=df_tweets, left_on='tweet_id', right_on='id', how = 'left')

Drop the unecessary id and retweeted columns.

In [ ]:
df_clean = df_clean.drop(['id', 'retweeted'], axis = 1)

### Cleaning II: df_breed dataset

#### Define:
 Non-dog records in the dataset (eg.: shopping cart, box turtle...)

#### Code:
I observed that there are a lot of other things in the dataset, identified as dog by the neural network. As the predicitions was not always consistent and a lot of dog pictures was identified something else, too, I only dropped the rows, where none of the three predictions was identified as dogs. With this method, I could exclude as many incorrect data as possible and keep many good data as well.

In [ ]:
df_breed.query('p1_dog == False and p2_dog == False and p3_dog == False')

Based on my observations, I decided keep as many data as possible, so I created a new dataframe with the values where any of the boolean columns is true.

In [ ]:
df_breed = df_breed.query('p1_dog == True or p2_dog == True or p3_dog == True')

#### Test:

In [ ]:
df_breed.query('p1_dog == False and p2_dog == False and p3_dog == False')

In [ ]:
df_breed.columns

In [ ]:
df_breed.head()

#### Define:
Dog breeds start with lower case letters and contain _ characters

#### Code:
I changed the first letter of the dog breeds from lower case letters to upper case letters and with remove() function I removed the _ characters to make the form consistent and clean.

In [ ]:
df_breed['p1'] = df_breed.p1.str.capitalize()
df_breed['p2'] = df_breed.p1.str.capitalize()
df_breed['p3'] = df_breed.p1.str.capitalize()

In [ ]:
df_breed['p1'].replace(regex=True,inplace=True,to_replace="_",value=r' ')
df_breed['p2'].replace(regex=True,inplace=True,to_replace="_",value=r' ')
df_breed['p3'].replace(regex=True,inplace=True,to_replace="_",value=r' ')

#### Test:

In [ ]:
df_breed.head()

#### Define:
There are 3 dataset instead of 1 master dataset

#### Code:

Merging df_breed dataset with the df_clean dataset using left join to create one final dataset.

In [ ]:
df_master = pd.merge(left=df_clean,right=df_breed, left_on='tweet_id', right_on='tweet_id', how = 'left')

#### Test:
Doublechecking the results.

In [ ]:
df_master.head()

#### Define:
The p1, p2, p2 columns should be categorical datatypes

#### Code:
To make better analyzis, I decided to changing some datatypes to categorical in the master dataset.

In [ ]:
df_master.dog_name = df_master.dog_name.astype('category');
df_master.dog_stage = df_master.dog_stage.astype('category');
df_master ['p1'] = df_master.p1.astype('category');
df_master ['p2'] = df_master.p2.astype('category');
df_master ['p3'] = df_master.p3.astype('category');

### Test:

In [ ]:
df_master.info()

I saved the dataset as a csv file.

In [ ]:
df_master.to_csv('twitter_archive_master.csv')

## Analyzing and Visualizing Data

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
df_master = pd.read_csv('twitter_archive_master.csv')

In [ ]:
df_master.head()

#### I. Possible Correlations

In [ ]:
# Creating a smaller df with the numerical values to make a hetmap matrix of the correlations
df_corr_values = df_master[['rating_10_scale', 'favorite_count', 
                               'retweet_count']]

fig, ax = plt.subplots(figsize=(9,8))
correlation = df_corr_values.corr()

sns.heatmap(correlation, 
            xticklabels=correlation.columns.values,
            yticklabels=correlation.columns.values,
            ax=ax,
            linewidth= 0.5);

There is no correlation between rating and favorite count and retweet count, which is absoluteli makes sense as rating is "only" part of the site's joke and can be absolutely random, not reflecting any particular meaning. However, we can find a correlation between favorite count and retweet count. That can be considered normal as more retweet means more favorites.

I would like to find the most popular and loved dog breeds. As rating has not anything to do with popularity, I will rate popularity by retweets and favorites, assuming that the cuter the dog breed is the higher the retweets are.

At first, I made a histogram of the most popular dogs on the site to get a closer look. I made a workaround to color the bar borders accoring to this issue: https://github.com/matplotlib/matplotlib/issues/9351/.

#### II. Most Popular Dog Names on the Account

I would like to find the most popular dog names. As rating has not anything to do with popularity, in this case, I will rate popularity by the number of tweets, assuming that the most popular dog names occur more times on the site.

The most often tweeted dognames are Charlie, Lucy, Oliver and Cooper. Other names such as Lola, Daisy and Bella are also qiet popular. This trend corresponds my personal experience as I also consider these names popular among dog owners.

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))

names = df_master['dog_name']
names.value_counts().head(15).plot(kind = 'bar', color = "#348A94", ax = ax, edgecolor = ['Black']*len(names))
ax.set_facecolor('#D3D3D3')
plt.show();

#### II. Most Beloved Breeds

After that, I analyzed the relationship between the numbers of favorite and dog breeds to find out which dog breeds are the most beloved by the users. I used the most relevant results of the machine learning values, categorized the dog breeds based on pictures. According to my results, golden retrivers are the all time favorites among the users with more than 1600000 favorites, the second and third breeds are labrador retrievers (about 1100000 favorites) and pembrokes (about 1000000 favorites).

In [ ]:
# Creating a favorite dataframe by the groupped breeds, counted the favorites.
df_favorite = df_master.groupby('p1')['favorite_count'].sum().reset_index()
df_sorted = df_favorite.sort_values('favorite_count', ascending=False).head(10)
ser_fav = df_sorted['favorite_count']
ser_breed = df_sorted['p1']

fig, ax = plt.subplots(figsize=(8,6))
fav = plt.barh(ser_breed, ser_fav, color = "#C13016", edgecolor = ['Black']*len(ser_breed))
ax.set_facecolor('#D3D3D3')
plt.xlabel('Number of Favorites')
plt.title('Number of Favorites by Breed')
plt.xticks(np.arange(200000, 1800000, 200000))
plt.show();

#### III. Dog Stages

I analyzed the specific "dog stages", excluding the missing values to make a pie chart about the proportions of the categories. The most often used stage is "pupper" with more than 65%, the second one is "doggo" (about 22%). The account owners use the words puppo and floofer in 10% of the cases alltogether.

In [ ]:
# Exclude the cases where the dog stage is missing.
df_stage = df_master[df_master['dog_stage'] != "None"]
fig, ax = plt.subplots(figsize=(8.5,8.5))

df_stage['dog_stage'].value_counts().plot(kind = 'pie', ax = ax, label = 'Dog Stage', autopct='%1.1f%%')
plt.title('Proportion of Dog Stages')
plt.legend();

#### IV. Ratings

I analyzed the portions of the ratings. I decided to use the qcut function to make the parts of the piechart almost equial and better readable. I gave the categories funny names to emphasize that higher rating often means cuter dogs. According to the results, most of the dogs are rated between 0 and 13, only 3% of the dogs are rated higher than 13. However, the highest rate is 1776! The numerators exceed the nominators in 40% of the cases, 40% of the dogs have higher ratings that 10.

In [ ]:
# Exclude the negative or null values from the dataframe
df_cuteness = df_master[df_master['rating_10_scale'] > 0]

In [ ]:
cute_label = ['Good Dog (0.999, 9.0]', 'Adorable (9.0, 10.0]', 'Supertcute (10.0, 11.0]', 'Unbelieveable (11.0, 12.0]', 'Can I pet her pleeeeease?  (12.0, 13.0]', 'Who is the good boy? (13.0, 1776.0]']

cute_bins = pd.qcut(df_cuteness['rating_10_scale'], 6, labels = cute_label)

In [ ]:
fig, ax = plt.subplots(figsize=(8.5,8.5))
cute_bins.value_counts().plot(kind = 'pie', ax = ax, label = 'Dog Stage', autopct='%1.1f%%')
plt.title('Proportion of Dog Stages')
plt.legend();

In [1]:
###25-12-2018